<!------ MOBILE MENU ------>
<div class="mobile-menu">
  <div class="container mobile-menu-container">
    <div class="mobile-menu-header">
      <address class="mobile-menu-contacts">
        <a class="mobile-menu-tel" href="tel:+380684439426"
          >+380 (68) 443-94-26</a
        >
      </address>
      <button class="mobile-menu-close-btn" type="button">
        <svg class="mobile-menu-close-btn-icon" width="36" height="36">
          <use
            href="/img/svg-icons/svg.svg#icon-x"
            width="20"
            height="20"
          ></use>
        </svg>
      </button>
    </div>
    <nav class="mobile-menu-nav">
      <ul class="mobile-menu-list">
        <li class="mobile-menu-list-items">
          <a href="">About us</a>
        </li>
        <li class="mobile-menu-list-items">
          <a href="">Our collection</a>
        </li>
        <li class="mobile-menu-list-items">
          <a href="">Customer order</a>
        </li>
        <li class="mobile-menu-list-items">
          <a href="">Testimonials</a>
        </li>
      </ul>
    </nav>
    <div class="mobile-menu-graphics">
      <svg class="mobile-menu-graphics-icon" width="340" height="302">
        <use
          href="../img/svg-icons/svg.svg#icon-logo"
          width="340"
          height="302"
        ></use>
      </svg>
    </div>
  </div>
</div>
