
.testimonials .section-titel {
        font-family: "Manrope", sans-serif;
        font-weight: 500;
        font-size: 32px;
        line-height: 1.3;
        letter-spacing: -0.03em;
        color: #fcf9f9;
        text-align: left;
}
.testimonials-list-avatar {
        position: absolute;
        top: 0;
        right: 50%;
        transform: translate(50%, -40%);
        border-radius: 50%;
        box-shadow: 0 1px 4px 0 rgba(16, 24, 40, 0.06);
        margin-bottom: 14px;
}
li.item-testimonials {
        border: 1px solid rgba(252, 249, 249, 0.1);
        border-radius: 4px;
        padding: 0 18px 18px 18px;
       box-shadow: 0 2px 32px 4px rgba(18, 20, 23, 0.02);
       margin-top: 24px;
}
.titel-testimonials-fullname {
        font-weight: 600;
        font-size: 20px;
        line-height: 1.5;
        text-align: center;
        color: #fcf9f9;
}
.text-list-testimonials {
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        color: rgba(252, 249, 249, 0.4);
        left: 22px;
        right: 22px;
        margin-bottom: 18px;
}
  .item-testimonials.item-1-hidden {
      display: block;
  }
.item-testimonials.item-2-hidden,
.item-testimonials.item-3-hidden {
        display: none;
    }
  
    li.item-testimonials {
        width: 335px;
        position: relative;
        justify-content: center;
    }
    .cards-testimonials {
        gap: 8px;
        text-align: center;
        padding-top: 54px;
    }
    .list-testimonials {
        display: flex;
        position: relative;
        padding: 22px 18px 38px 18px;
        justify-content: center;
    }
    .testimonials .section-titel {
        text-align: left;
        left: 20px;
        right: auto;
        padding-top: 80px;
        padding-bottom: 40px;
    }
    .text-list-testimonials {
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        color: rgba(252, 249, 249, 0.4);
    }

@media screen and (min-width: 768px) {
    .item-testimonials.item-3-hidden {
        display: none;
    }
    .item-testimonials.item-1-hidden,
    .item-testimonials.item-2-hidden {
        display: block;
    }
    .cards-testimonials {
        padding-top: 40px;
        gap: 8px; 
        text-align: center;
    }
    .testimonials .section-titel {
        display: flex;
        font-size: 44px;
        line-height: 1.45;
        letter-spacing: -0.03em;
        padding-left: 32px;
        padding-top: 100px;
        column-gap: 40px;
        text-align: left;
    }
    .list-testimonials {
        display: flex;
        position: relative;
        padding: 18px 38px 18px 18px;
        justify-content: center;
    }
    .list-testimonials {
        flex-direction: row;
        gap: 32px;
    }
    li.item-testimonials {
        position: relative;
    }
    li.item-testimonials {
    width: calc((100% - 32px) / 2);
    }
    .text-list-testimonials {
        font-weight: 400;
        font-size: 16px;
        text-align: center;
    }
}
@media screen and (min-width: 1280px) {
    .item-testimonials.item-1-hidden,
    .item-testimonials.item-2-hidden,
    .item-testimonials.item-3-hidden {
        display: block;
    }
    .cards-testimonials {
        gap: 8px;
        text-align: center;
    }
    .testimonials .section-titel {
        text-align: left;
        left: 50px;
        right: auto;
        padding-top: 150px;
        column-gap: 40px;
    }
    .list-testimonials {
       flex-direction: row;
       gap: 26px;
    }
    li.item-testimonials {
        display: flex;
        position: relative;
        padding: 24px 18px 39px 18px;
        text-align: center;
    }
    li.item-testimonials {
        width: calc((100% - 52px) / 3);
    }
}

@media screen and (min-width: 1440px) {
    .item-testimonials.item-1-hidden,
    .item-testimonials.item-2-hidden,
    .item-testimonials.item-3-hidden {
            display: block;
    }
    .cards-testimonials {
        gap: 8px;
        text-align: center;
    }
    .testimonials .section-titel {
        text-align: left;
        left: 100px;
        right: auto;
    }
    .list-testimonials {
        display: flex;
        position: relative;
        padding: 21px 18px 39px 18px;
        text-align: center;
    }
    li.item-testimonials {
        position: relative;
    }
    li.item-testimonials {
        width: calc((100% - 52px) / 3);
    }
}